.header {
    background-color: #000; /* Black background */
    color: #fff; /* White text color */
    padding: 10px 20px;
  }
  
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .item {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .icon {
    font-size: 24px; /* Adjust size if needed */
  }
  
  .title {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    color: #fcd900; /* Yellow text */
  }
  
  .subtitle {
    font-size: 12px;
    margin: 0;
    color: #fff; /* White text */
  }
  